name: Release

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'macos-latest' # for Arm based macs (M1 and above).
            args: '--target aarch64-apple-darwin'
          - platform: 'macos-latest' # for Intel based macs.
            args: '--target x86_64-apple-darwin'
          - platform: 'ubuntu-22.04'
            args: ''
          # - platform: 'ubuntu-22.04-arm' # Only available in public repos.
          #   args: '' // todo
          - platform: 'windows-latest'
            args: ''

    runs-on: ${{ matrix.platform }}
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies (Ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf libsoup-3.0-dev libjavascriptcoregtk-4.1-dev gdk-3.0 libwebkit2gtk-4.1-dev
      
      - name: Install Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable # Set this to dtolnay/rust-toolchain@nightly
        with:
          # Those targets are only used on macos runners so it's in an `if` to slightly speed up windows and linux builds.
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: './app/src-tauri -> target'

      - name: Install root dependencies
        run: bun install

      - name: Build root project
        run: bun run build

      - name: Install app dependencies
        working-directory: ./app
        run: bun install

      - name: Build
        working-directory: ./app
        run: bun tauri build ${{ matrix.args }}

      - name: Rename macOS ARM files for release
        if: matrix.args == '--target aarch64-apple-darwin'
        run: |
          mkdir upload
          cp app/src-tauri/target/aarch64-apple-darwin/release/wasserwellen-simulator upload/wasserwellen-simulator-${TAG}-macos-arm64
          tar -czvf upload/wasserwellen-simulator-${TAG}-macos-arm64.app.tar.gz app/src-tauri/target/aarch64-apple-darwin/release/bundle/macos/wasserwellen-simulator.app
          zip -r upload/wasserwellen-simulator-${TAG}-macos-arm64.app.zip app/src-tauri/target/aarch64-apple-darwin/release/bundle/macos/wasserwellen-simulator.app
      
      - name: Rename macOS x86_64 files for release
        if: matrix.args == '--target x86_64-apple-darwin'
        run: |
          mkdir upload
          cp app/src-tauri/target/x86_64-apple-darwin/release/wasserwellen-simulator upload/wasserwellen-simulator-${TAG}-macos-x86_64
          tar -czvf upload/wasserwellen-simulator-${TAG}-macos-x86_64.app.tar.gz app/src-tauri/target/x86_64-apple-darwin/release/bundle/macos/wasserwellen-simulator.app
          zip -r upload/wasserwellen-simulator-${TAG}-macos-x86_64.app.zip app/src-tauri/target/x86_64-apple-darwin/release/bundle/macos/wasserwellen-simulator.app
      
      - name: Rename windows files for release
        if: matrix.platform == 'windows-latest'
        shell: bash
        run: |
          mkdir upload
          cp app/src-tauri/target/release/wasserwellen-simulator.exe upload/wasserwellen-simulator-${TAG}-windows.exe
          cp app/src-tauri/target/release/bundle/windows/wasserwellen-simulator.msi upload/wasserwellen-simulator-${TAG}-windows.msi
      
      - name: Rename linux files for release
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          mkdir upload
          cp app/src-tauri/target/release/wasserwellen-simulator upload/wasserwellen-simulator-${TAG}-linux
          cp app/src-tauri/target/release/bundle/linux/wasserwellen-simulator.AppImage upload/wasserwellen-simulator-${TAG}-linux.AppImage

      - shell: bash
        run: ls upload

      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          files: upload/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
